*.iml
/.gradle
/gradle
/gradlew
/gradlew.bat
/local.properties
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/copyright
/.idea/dictionaries
/.idea/libraries
.DS_Store
/build
/captures
